.text-area .content {
    -fx-background-color: #578fff;
    -fx-background-radius: 0px;
    -fx-border-radius: 10px;
    -fx-border-color: transparent;
}

.text-area {
    -fx-background-color: #578fff;
    -fx-padding: 5px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: transparent;
    -fx-wrap-text: true;
    -fx-font-size: 8px;
    -fx-font-family: Roboto, serif;
}

.wordContainer {
    -fx-background-color: #27498c;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.plusButton {
    -fx-background-color: #00965a;
    -fx-background-radius: 10px;
    -fx-text-fill: WHITE;
}

.plusButton:hover {
    -fx-background-color: #00b731;
}

.editDeleteButton {
    -fx-background-color: #8f8f8f;
    -fx-background-radius: 10px;
}

.editDeleteButton:hover {
    -fx-background-color: #cccccc;
}

.infoButton {
    -fx-background-color: transparent;
}

.infoButton:hover {
    -fx-background-color: #cccccc;
    -fx-background-radius: 30px;
}

.langLabel {
    -fx-text-fill: WHITE;
    -fx-font-weight: bold;
}

.translatedWordLabel {
    -fx-text-fill: WHITE;
    -fx-font-size: 28;
    -fx-background-color: #2e80c0;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: transparent;
}

.gridPane {
    -fx-background-color: #0c162b;
    -fx-font-size: 20px;
    -fx-text-fill: WHITE;
}

.searchable-combo-box {
    -fx-background-color: #2e80c0;
    -fx-font-size: 14px;
    -fx-text-fill: WHITE;
    -fx-border-radius: 20px;
}

.searchable-combo-box:hover {
    -fx-background-color: #8f8f8f;
}

.searchable-combo-box .text-field {
    -fx-background-color: #2e80c0;
    -fx-border-radius: 20px;
    -fx-text-fill: WHITE;
}

.searchable-combo-box .list-view {
    -fx-padding: 0px;
}

.searchable-combo-box .list-view .list-cell {
    -fx-background-color: #0c162b;
    -fx-text-fill: WHITE;
}

.searchable-combo-box .list-view .list-cell:hover {
    -fx-background-color: #2e80c0;
}

.alertDP {
    -fx-background-color: #0c162b;
    -fx-text-fill: WHITE;
}

.alertDP .label {
    -fx-text-fill: WHITE;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.alertDP .text-field {
    -fx-text-fill: WHITE;
    -fx-font-size: 14px;
    -fx-background-color: #2e80c0;
}

.alertDP .button {
    -fx-background-color: #27498c;
    -fx-text-fill: WHITE;
    -fx-font-size: 13px;
}

.alertDP .button:hover {
    -fx-background-color: #2e80c0;
}

.alertDP > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-text-fill: WHITE;
    -fx-font-family: 'Helvetica';
}

.alertDP > .header-panel {
    -fx-background-color: #0c162b;
    -fx-text-fill: WHITE;
    -fx-font-family: 'Helvetica';
}

.alertDP > .header-panel > .label{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: WHITE;
    -fx-font-family: 'Helvetica';
}